body {
  background-color: #F3F4F6;
}

#menu {
  background-color: #52a2da;
  padding-top: 0px;
  padding-bottom: 0px;
}

#menu > .container{
  max-width: 1700px;
}

#menu #logo {
  height: 50px;
  filter: invert(100%) sepia(96%) saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);
}

.card-img-top {
  width: 100%;
  /* height: 150px; */
  height: 110px;
  /* object-fit: cover; */
  object-fit: contain;
  margin-bottom: 30px;
}

#content {
  max-width: 1000px;
}

#content-wide {
  margin-top: 30px;
  max-width: 1700px;
}

.card-header {
  background-color: #F3F4F6;
}

.input-group {
  max-width: 600px;
}

#log {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 20px;
  height: 84vh;
}

.accordion-button:not(.collapsed) {
    background-color: #f8f9fa;
}

.accordion-button {
    background-color: #f8f9fa;
}

.btn-primary {
  border-color: #52a2da;
  background-color: #52a2da;
}

.snippet {
  /* background-color: #eda987; */
  /* background-color: #ddb26f; */
  background-color: #e1a3ee;
}


#left-column .fa-li {
  padding-right: 8px;
}

#left-column li.todo .fa-li {
  color: red;
}

#left-column li.done .fa-li {
  color: green;
}

#right-column label {
  margin-top: 15px;
}

#right-column #submit {
  margin-top: 20px;
}

#right-column .accordion-body {
  padding: 0px;
}

#about {
  margin-top: 100px;
  margin-bottom: 100px;
}

#about .card {
  background-color: #F3F4F6;
  border: none;
}
