:root {
  /* The Main Palette
  --darkblue: #294172;
  --blue:     #3c6eb4;
  --newblue:  #51a2da;
  --green:    #79db32;
  --magenta:  #db3279;
  --orange:   #e59728;
  --purple:   #a07cbc;
  */

  /* Color-blind safe palette */
  --darkblue:    #294172;
  --blue:        #3c6eb4;
  --newblue:     #51a2da;
  --green:       #38bc3b;
  --lightgreen:  #afea85;
  --magenta:     #db3279;
  --orange:      #eb7434;
  --purple:      #603e79;
  --lightpurple: #cfbddd;  /* This one is from the main palette */

  --gray-0:      #eff0f1;
  --gray-1:      #dfe0e3;
  --gray-2:      #dedede;
  --gray-3:      #c5c7cc;
  --gray-4:      #8c8c8c;
  --gray-5:      #9a9fa6;
  --gray-6:      #79818b;
  --gray-7:      #535961;
  --gray-8:      #4c4c4c;
  --gray-9:      #1d252e;
}

body {
  background-color: var(--gray-0);
}

#menu {
  background-color: var(--newblue);
  padding-top: 0px;
  padding-bottom: 0px;
}

#menu > .container{
  max-width: 1700px;
}

#menu #logo {
  height: 50px;
  filter: invert(100%) sepia(96%) saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);
}

.card-img-top {
  width: 60px;
  float: left;
}

#content {
  max-width: 1000px;
}

#content-wide {
  margin-top: 30px;
  max-width: 1700px;
}

h1 {
  color: var(--darkblue);
}

h2 {
  color: var(--green);
}

.lead {
  color: var(--gray-8) !important;
}

.card-header {
  background-color: var(--gray-0);
}

.nav-link {
  font-weight: 500;
  --bs-nav-link-color: var(--newblue);
  --bs-nav-link-hover-color: var(--newblue);
  --bs-nav-tabs-border-color: var(--gray-3);
  --bs-nav-tabs-link-active-bg: var(--gray-0);
  --bs-nav-tabs-link-active-border-color: var(--gray-3);
}

.btn-outline-primary {
  font-weight: 500;
  --bs-btn-color: var(--newblue);
  --bs-btn-border-color: var(--newblue);
  --bs-btn-hover-bg: var(--newblue);
  --bs-btn-hover-border-color: var(--newblue);
  --bs-btn-active-bg: var(--newblue);
  --bs-btn-active-border-color: var(--newblue);
}

#app-homepage .card-title {
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--green);
}

#app-homepage .card-body {
  min-height: 250px;
}

.input-group {
  max-width: 600px;
}

a, a:hover {
  font-weight: 500;
  color: var(--newblue);
}

#log {
  background-color: var(--gray-0);
  border: 1px solid var(--gray-3);
  padding: 20px;
  height: 84vh;
}

.accordion-button:not(.collapsed) {
    background-color: #f8f9fa;
}

.accordion-button {
    background-color: #f8f9fa;
}

.btn-primary {
  border-color: var(--newblue);
  background-color: var(--newblue);
  --bs-btn-hover-bg: var(--newblue);
  --bs-btn-hover-border-color: var(--newblue);
  --bs-btn-active-bg: var(--newblue);
  --bs-btn-active-border-color: var(--newblue);
}

.snippet {
  background-color: var(--lightpurple);
}

#left-column .fa-li {
  padding-right: 8px;
}

#left-column li.todo .fa-li {
  color: var(--magenta);
}

#left-column li.done .fa-li {
  color: var(--green);
}

#right-column label {
  margin-top: 15px;
}

#right-column #submit {
  margin-top: 20px;
}

#right-column .accordion-body {
  padding: 0px;
}

#about {
  margin-top: 80px;
  margin-bottom: 100px;
}

#about .card {
  background-color: var(--gray-0);
  border: none;
  color: var(--gray-8);
}
